body{
    color: #3d3d3d;
}

.wrapper{
    display: flex;
}
.nav-link{
    color: #3d3d3d;
}
.nav-link:hover{
    color: #3d3d3d;
}
.sidebar .nav-item .nav-link{
    text-align: left;
    padding: 1rem;
    width: 14rem;
}

/* Select2*/
.js-select{
	width: 250px;
}

.gray-color{
    color: #2f3640 !important;
}
.btn-primary{
    background-color:#5352ed !important;
    border: 1px solid #5352ed !important;
}
.sidebar{
    width: 14rem !important;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #FFF;
}

#content{
    flex: 1 0 auto;  
}
#content-wrapper{
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}


.card-animal:hover{
    border: 1px solid #3742fa;
}

/*
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #ADD8E6;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
background-color: #a29bfe;
}
*/


/* CORES ICONES*/

.icon-red{
    color: #e74c3c;
}

.icon-roxo{
    color: #5352ed;
}
.icon-green{
    color: #2ecc71;
}

.icon-yellow{
    color: #f1c40f;
}
.icon-orange{
    color: #e67e22;
}
.icon-blue{
    color: #3498db;
}

.colo-red{
    color: #e74c3c;
}
.icon-white{
    width: 18px;
    height: 18px;
    color: #FFF;
}
.icon-high-blue{
    color: #45aaf2;
}
.icon-gray-submenu{
    color: #bdc3c7;
}
.font-14{
    font-size: 14px;
}
.icon-gray{
    color: #95a5a6;
}

.border-radius{
    border-radius: 12px;
}

.list-color-text{
    color: #3d3d3d;
}
.list-color-text:hover{
    color: #3d3d3d;
}

.h5-title-list{
    color: #4b4b4b;
}
