body{
    color: #3d3d3d;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.wrapper{
    display: flex;
    height: 100%;
}
.nav-link{
    color: #3d3d3d;
}
.nav-link:hover{
    color: #3d3d3d;
}
.navbar-nav {
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 100%;
}

.sidebar .nav-item{
    margin-left: 10px;
}

.sidebar .nav-item .nav-link{
    text-align: left;
    padding: 14px;
    width: 14rem;
    border-radius: 4px;
    
}
.scrollable-element {
    scrollbar-width: thin;
  }

.gray-color{
    color: #2f3640 !important;
}

.btn-primary{
    background-color:#4680ff !important;
   border: 1px solid #4680ff !important;
}

.btn-primary:hover{
    background:#135dff !important;
    border: 1px solid #135dff !important;
}

.sidebar{
    width: 20rem !important;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #FFF;
}

#content{
    flex: 1 0 auto;  
}

#content-wrapper{
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

.card-animal:hover{
    border: 1px solid #3742fa;
}

/*
TABELA COR SIM COR NÃO

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #ADD8E6;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
background-color: #a29bfe;
}
*/

.icon-gray-submenu{
    color: #bdc3c7;
}
.font-14{
    font-size: 14px;
}
.border-radius{
    border-radius: 12px;
}
.list-color-text{
    color: #3d3d3d;
}
.list-color-text:hover{
    color: #3d3d3d;
}
.h5-title-list{
    color: #4b4b4b;
}
.bg-cinza{
    background-color: #f5f6fa;
}
.registrar{
    margin-left: 20px;
    margin-right: 20px;
}


.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:active{
    background-color: #4680ff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    color: #FFF;
}

.navbar-nav .nav-item:hover .nav-link {
    background-color: #f1f2f6;
    color: #2f3640
}

/* btn responsive */
#navToggle{
    display:none;
}

@media (max-width: 700px) {
    #navToggle{
        display:block;
    }
    .offcanvas-collapse {
        position: fixed;
        bottom: 0;
        right: 100%;
        left: -300px;
        width: 300px;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        transition-timing-function: ease-in-out;
        transition-duration: .2s;
        transition-property: left, visibility;
        z-index: 999;
    }

    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }

    
.sidebar{
    width: 16rem !important;
}
}