body{
    color: #3d3d3d;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.wrapper{
    display: flex;
    height: 100%;
}
.nav-link
{
    color: #3d3d3d;
}

.icon-menu
{
    color: #f67280;
}

.icon-menu-top
{
    color: #4b4b4b;
}
.icon-menu-top:hover
{
    color: #3d3d3d;
}

.nav-link:hover
{
    color: #3d3d3d;
}

.navbar-nav
{
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 100%;
}

.sidebar .nav-item
{
    margin-left: 10px;
}

.sidebar .nav-item .li-sub
{
    padding: 10px;
}

.sidebar .nav-item .li-sub:hover
{     
   color: #333;
}

.sidebar .nav-item .nav-link
{
    text-align: left;
    padding: 14px;
    width: 14rem;
    border-radius: 4px;
    
}

.sidebar .nav-item .href-sub
{   
    text-decoration: none;
    padding: 20px;
    color: #333 !important;
}

.scrollable-element
{
    scrollbar-width: thin;
}

.gray-color
{
    color: #2f3640 !important;
}

.btn-primary
{
   background-color:#f67280 !important;
   border: 1px solid #f67280 !important;
}

.btn-primary:hover
{
    background: #f45a6a !important;
    border: 1px solid #f45a6a !important;
}

.btn-secondary
{
   background-color:#f8b195 !important;
   border: 1px solid #f8b195 !important;
}

.btn-secondary:hover
{
    background:#f69f7d !important;
    border: 1px solid#f69f7d !important;
}

.sidebar
{
    width: 20rem !important;
}

.navbar-nav
{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #FFF;
}

#content
{
    flex: 1 0 auto;  
}

#content-wrapper
{
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

.card-animal:hover{
    border: 1px solid #f67280;
}

/*
TABELA COR SIM COR NÃO

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #ADD8E6;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
background-color: #a29bfe;
}
*/

.icon-gray-submenu{
    color: #bdc3c7;
}
.font-14{
    font-size: 14px;
}
.border-radius{
    border-radius: 12px;
}
.list-color-text{
    color: #3d3d3d;
}
.list-color-text:hover{
    color: #3d3d3d;
}
.h5-title-list{
    color: #4b4b4b;
}
.bg-cinza{
    background-color: #f5f6fa;
}
.registrar{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:active{
    background-color: #f67280;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    color: #FFF;
}

.navbar-nav .nav-item .nav-link.active .icon-menu
{
    color: #FFF;
}

/* btn responsive */
#navToggle{
    display:none;
}


.card-report a
{
    color: #333;
    text-decoration: none !important;
}

.card-report a:hover
{   
    border-radius: 4px;
    background-color: #f8b195 !important;
    color: #FFF !important;
    transition: 0.5s;
}


@media (max-width: 900px) {


    .toggleMenu
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../../assets/img/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 1;
        cursor: pointer;
        filter: invert(1);  
    }

    .toggleMenu.active
    {
        background: url(../../assets/img/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 2;
    }

    .navigation {
        position: fixed;
        bottom: 0;
        right: 100%;
        left: -300px;
        width: 300px;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        transition-timing-function: ease-in-out;
        transition-duration: .2s;
        transition-property: left, visibility;
        z-index: 999;
    }

    .navigation.active {
        left: 0;
        visibility: visible;
    }

    .sidebar{
        width: 16rem !important;
    }

    .card-report
    {
        margin-top: 10px;
    }
}